<%-include('../cabecalho.ejs')%>
<h1>Editar Artista</h1>
<form method="post" action="/artista/edt/<%= Item._id %>" enctype="multipart/form-data">
    <div><label>Nome</label><input type="text" name="nome" value="<%= Item.nome %>" required></div>
    <div><label>Bio</label><textarea name="bio"><%= Item.bio %></textarea></div>
    <div>
        <label>Imagem</label>
        <% if (Item.imagem) { %><div><img src="<%= Item.imagem %>" style="width:120px"></div><% } %>
        <input type="file" name="imagem" accept="image/*">
    </div>
    <button type="submit">Salvar</button>
</form>
<%-include('../rodape.ejs')%>
